body {
    font-family: cursive;
/*     background-image: url("/images/cataloge.jpg");
 */    background-repeat: round;
   
    background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
   
}


.header {
    background-color: rgb(179, 175, 167) ;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    transition-duration: 1s;
    transition-timing-function: linear;

    
}
.header:hover {
    background: #ff7b29;
}

header h1 , header nav {
    float: left; 

}

header h1 {
    margin-left: 1.5cm;
}


header nav ul {
    margin-left: 17cm;
    padding: 10px;
    margin-top: .9cm;

  
}


header nav ul li {
    display: inline;
    padding: 30px;
    font-size: large;
}








main section {
    float: left;
    margin-top: 6cm;
}

#results-busMall {
    opacity: 0.7;
    padding: .5em;
    margin-left: 1cm;
    width: auto;
    background-color: rgb(194, 234, 241) ;
    opacity: 0.7;
    border-style: inset;
    border-width: thick;
    border-color: rgb(125, 125, 212);
    transition-duration: 1s;
    transition-timing-function: linear;


}

#results-busMall:hover {
    background: #ff7b29;

}




#images-section {
    align-content: center;
    margin-left: auto;
    float: right;
    margin-right: 5em;
    border-style: inset;
    border-width: thick;
    border-color: rgb(125, 125, 212);



  }

#images-section img {
    width: 300px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: 2em;
    padding: 1em;
    border-radius: 2em;
    transition: all .1s linear;
    box-shadow: 0 5px 0 #006599;

}

#images-section img:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  
}



main h2 {
    background-color: rgb(194, 234, 241);
    opacity: 0.7 ;
    width: 35%;
    margin-left: 1cm;
    padding: 5px;
    position: relative;
    top: 4cm;
}